{% extends 'base_nav.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head %}
    <script src="{% static 'js/mustache.min.js' %}"></script>
    <script src="{% static 'js/pagination.min.js' %}"></script>
    <script id="table_template" type="text/mustache" >
    {% verbatim %}
    <table class="table-hover table">
        <tr>
            <th>Firsname</th>
            <th>Lastname</th>
            <th>Birthdate</th>
            <th>Year</th>
            <th>Score</th>
            <th>Avatar</th>
        </tr>
        {{#dirs}}
            <tr class="clickable-row" data-href="/directors/{{ id }}/">
                <td>{{ name }}</td>
                <td>{{ surname }}</td>
                <td>{{ birthdate }}</td>
                <td>{{ year }}</td>
                <td>{{ score }}</td>
                <td><img src="{{ avatar }}" height="64"></td>
            </tr>
         {{/dirs}}
        </table>
    {% endverbatim %}
    </script>
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="row">
    <div class="col-sm-3">
        <form role="form" method="get">
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" id="id_search_btn">
              {% bootstrap_icon "star" %} Search
            </button>
        {% endbuttons %}
        </form>
    </div>
    </div>
    <div id="template_div">

    </div>

    <div class="paginationjs" id="pagination"></div>
    <script src="{% static 'js/delete_confirm.js' %}"></script>
    <script src="{% static 'js/click_row.js' %}"></script>
{% endblock %}